<nav>
  <div class="nav-wrapper">
    <a href="" class="brand-logo">Интернет-магазин Fastyle</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/">Главная</a></li>
      <li><a routerLink="/products">Товары<span class="new badge">4</span></a></li>
      <li><a routerLink="/customer">Войти</a></li>
      <li><a routerLink="/shipAndPayment">Доставка и оплата</a></li>
      <li><a routerLink="/aboutUs">О нас</a></li>
      <li><a routerLink="/contactUs">Контакты</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>

</div>
